{% load static %}

<html>
<head>
    <title>Ev</title>
            <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="icon" type="image/png" href="{% static 'images/Logo.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="{% static 'css/EV_Profile.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/EV_Profile.css' %}">
</head>

<body>
    <section class="navbarsection">
        <nav>
            <!-- Logo Section Outside Sidebar -->
            <div class="logo">
                <img src="{% static 'images/Logo.png' %}" alt="EnviroVista Logo">
                <span class="logoName">EnviroVista</span>
            </div>

            <!-- Desktop Navigation Links -->
            <ul>
                <li class="hideonmobile"><a href="{% url 'home' %}">Home</a></li>
                <li class="hideonmobile"><a href="{% url 'gcshome' %}">GCS</a></li>
                <li class="hideonmobile"><a href="{% url 'ecoaware' %}">EcoAware</a></li>
                <li class="hideonmobile"><a href="{% url 'ideaforge' %}">IdeaForge</a></li>
                <li class="hideonmobile"><a href="{% url 'leaderboard' %}">LeaderBoard</a></li>
                <li class="hideonmobile"><a href="{% url 'profile' %}">Profile</a></li>
                {% if request.user.is_authenticated %}
                    <li class="hideonmobile"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="hideonmobile"><a href="{% url 'loginpage' %}">Login</a></li>
                {% endif %}
            </ul>

            <!-- Menu Button for Mobile -->
            <li onclick="showsidebar()" class="menubtn">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                    </svg>
                </a>
            </li>
        </nav>
        <hr>
        <div class="advisement">
            <p><span>Announcements:</span>
                <marquee behavior="scroll" direction="left">Leaderboard will be updated soon...</marquee>
            </p>
        </div>
    </section>

    <!-- Sidebar for Mobile View -->
    <div class="sidebar">
        <div class="logoMoblieView">
            <img src="{% static 'images/Logo.png' %}" alt="EnviroVista Logo">
            <span class="logoName">EnviroVista</span>
        </div>
        <ul>
            <li onclick="hidebar()" class="hidebar">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg>
                </a>
            </li>
            <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'gcshome' %}">GCS</a></li>
                <li><a href="{% url 'ecoaware' %}">EcoAware</a></li>
                <li><a href="{% url 'ideaforge' %}">IdeaForge</a></li>
                <li><a href="{% url 'leaderboard' %}">LeaderBoard</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'loginpage' %}">Login</a></li>
                {% endif %}
                <!-- <li><a href="#">login</a></li> -->
        </ul>
    </div>
    <section class="mainContent">
        <div id="persdet">
            <div id="namepfp">
                <div class="editlin">
                    <img src="{% static 'images/Logo.png' %}" id="pfp" alt="User Profile">
                    <i style="cursor: pointer;  font-size: 1.5rem;" id="editco" class="fa-regular fa-pen-to-square" onclick="window.location.href='editinfo.html'"></i>
                </div>
                <label id="username">{{ user.first_name }} {{ user.last_name }}</label>
                <span>
                    <label id="q">Rank:</label>
                    <label id="rank">Coming Soon...</label>
                </span>
                <span>
                    <label id="q">GC coins:</label>
                    <label id="gcbal">{{ user.gc_coins }}</label>
                </span>
            </div>
            <div id="persinfo">
                <div class="editlin">
                    <label id="personaltitle">Personal Information</label>
                    <i  style="cursor: pointer; font-size: 1.5rem;" id="editco" class="fa-regular fa-pen-to-square" onclick="window.location.href='editinfo.html'"></i>
                </div>
                <div>
                    <i id="detspan" class="fa-solid fa-phone"></i>
                    <label id="phnum">{{ user.phone_no }}</label>
                </div>
                <div>
                    <i id="detspan" class="fa-regular fa-envelope"></i>
                    <label id="pmail">{{ user.email }}</label>
                </div>
                <div>
                    <i id="detspan" class="fa-solid fa-location-dot"></i>
                    <label id="address">{{ user.location }}</label>
                </div>
            </div>
            <a href="{% url 'logout' %}"><button id="logout">Logout</button></a>
        </div>
        <div id="fboxout">
            <div id="fboxpd">
                <label style="font-size: 1.5rem;margin-bottom: 15px;">Perform Tasks</label>
                <label style="color:rgb(92, 88, 88)">participate in our tasks to contribute to the global health.<br><a href="{% url 'ecoaware' %}">>>Explore More</a></label>
            </div>
            <div id="fboxpd">
                <label style="font-size: 1.5rem;margin-bottom: 15px;">GCC Exchange</label>
                <label style="color:rgb(92, 88, 88)">Redeem your GC coins for real money.<br><a href="taskhomepage.html">>>Explore More</a></label>
            </div>
            <div id="fboxpd">
                <label style="font-size: 1.5rem;margin-bottom: 15px;">Your Orders</label>
                <label style="color:rgb(92, 88, 88)">keep track of your orders history.<br><a href="{% url 'cartpayment' %}">>>Explore More</a></label>
            </div>
            <div id="fboxpd">
                <label style="font-size: 1.5rem;margin-bottom: 15px;">Return and refund</label>
                <label style="color:rgb(92, 88, 88)">Return your product or apply for refund<br><a href="taskhomepage.html">>>Explore More</a></label>
            </div>
        </div>

        <!---
        <div class="contentyle">
            <div id="vcard">
                <span style="margin:15px;">
                    <img src="profilepic.jpeg" height="100px" width="100px" style="float:left;margin-right: 10px;">
                    <label id="pName">Panathula Manoj</label>
                    <br>
                    <label>Rank  </label>
                    <label id="rankno">1</label>
                </span>
                <hr>
                <br>
                <span id="detailsp">
                    <label id="qu"> ID : </label>
                    <label id="userId">696969</label>
                    <br>
                    <label id="qu">Gender : </label>
                    <label id="Gender">Male</label>
                    <br>
                    <label id="qu">State : </label>
                    <span id="select-container">
                    <select title="state" id="states" name="states">
                        <option value="">-- Select a State/UT --</option>
                        <option value="AP">Andhra Pradesh</option>
                        <option value="AR">Arunachal Pradesh</option>
                        <option value="AS">Assam</option>
                        <option value="BR">Bihar</option>
                        <option value="CH">Chandigarh</option>
                        <option value="CT">Chhattisgarh</option>
                        <option value="DL">Delhi</option>
                        <option value="GA">Goa</option>
                        <option value="GJ">Gujarat</option>
                        <option value="HR">Haryana</option>
                        <option value="HP">Himachal Pradesh</option>
                        <option value="JK">Jammu and Kashmir</option>
                        <option value="JH">Jharkhand</option>
                        <option value="KA">Karnataka</option>
                        <option value="KL">Kerala</option>
                        <option value="LA">Ladakh</option>
                        <option value="LD">Lakshadweep</option>
                        <option value="MP">Madhya Pradesh</option>
                        <option value="MH">Maharashtra</option>
                        <option value="MN">Manipur</option>
                        <option value="ML">Meghalaya</option>
                        <option value="MZ">Mizoram</option>
                        <option value="NL">Nagaland</option>
                        <option value="OR">Odisha</option>
                        <option value="PY">Puducherry</option>
                        <option value="PB">Punjab</option>
                        <option value="RJ">Rajasthan</option>
                        <option value="SK">Sikkim</option>
                        <option value="TN">Tamil Nadu</option>
                        <option value="TG">Telangana</option>
                        <option value="TR">Tripura</option>
                        <option value="UP">Uttar Pradesh</option>
                        <option value="UT">Uttarakhand</option>
                        <option value="WB">West Bengal</option>
                    </select>
                    </span>
                    <br>
                    <label id="qu">District : </label>
                    <label id="district">visakhapatnam</label>
                    <br>
                    <label id="qu">User since : </label>
                    <label id="ujoin">2024</label>
                    <br>
                    <label id="qu">GC coins : </label>
                    <label id="gccount">88</label>
                </span>
                <button id="editinfo">Edit Info</button>
                <button id="ordersp">Your orders</button>
                <button id="rrfunds">Return and Refunds</button>
                <button id="GCexchange">GC exchange</button>
                <button id="logout">Log Out</button>
            </div>
                    <table id="leaderboardtable">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Id</th>
                            <th>Score</th>
                            <th>Tasks completed</th>
                            <th>Region</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Manoj</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Kiran</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mukesh</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>pavan</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Manikanta</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Manoj</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Kiran</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mukesh</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>pavan</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Manikanta</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Manoj</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Kiran</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mukesh</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>pavan</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Manikanta</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Manoj</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Kiran</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mukesh</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>pavan</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Manikanta</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Manoj</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Kiran</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mukesh</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>pavan</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Manikanta</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                        <tr>
                            <td>1</td>
                            <td>Manoj</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Kiran</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mukesh</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>pavan</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Manikanta</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                        <tr>
                            <td>1</td>
                            <td>Manoj</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Kiran</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mukesh</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>pavan</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Manikanta</td>
                            <td>88888888</td>
                            <td>69696969</td>
                            <td>69</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>-9999999</td>
                            <td>Tony Stark</td>
                            <td>888888888</td>
                            <td>696969969</td>
                            <td>69</td>
                            <td>US</td>
                        </tr>
                        <tr>
                    </table>
                -->
    </section>
    <section class="footermain">
        <footer>
            <div class="fsec1">
                <h1>EnviroVista</h1>
                <p>EnviroVista is a gamified platform which helps the user to go eco-friendly and make their lifestyle
                    sustainable with the help of GC coins.</p>
            </div>
            <div class="fsec2">
                <h1>Useful Links</h1>
                <ul>
                    <li><a href="#">Tasks</a></li>
                    <li><a href="#">GCS</a></li>
                    <li><a href="#">IdeaForge</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
            <div class="fsec3">
                <h1>Other Services</h1>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="fsec4">
                <h1>Contact Us</h1>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <p><strong>Phone:</strong> +91 6302041057</p>
                    <p><strong>Email:</strong> kirankumar76010@gmail.com</p>
                </ul>
                <div class="footer-links">
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://wa.me/your_number" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </footer>
        <div class="footer1">
            <p>&copy; 2024 EnviroVista. All Rights Reserved.</p>
        </div>
    </section>
    <!-- <script src="{% static 'js/EV_Profile.js' %}"></script> -->
    <script src="{% static 'js/EV_Profile.js' %}"></script>
</body>

</html>