@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'poppins', sans-serif;
}
/*NAV BAR START*/
.navbarsection {
    background-color: #f4f4f4;
    overflow: hidden;
    position: fixed;
    max-width: 100%;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow:1px 2px 4px #2d6210 ;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 90px;
    height: auto;
    max-width: 100%;
    margin: 0 1rem;
    padding: 0;
}
.logoName {
    font-size: 2rem;
    font-weight: bold;
    color: #66B539;
    margin: -1rem;
}
nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    top: 0;
    z-index: 1000;
}
hr{
    color: #66B539;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Ensure it's horizontal */
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: large;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}
nav li a:hover {
    background-color: hsl(84, 5%, 81%);
    transition: 0.9s ease;
    border-radius: 1em;
}
nav li a:active {
    background-color: hsl(84, 5%, 89%);
    transition: 0.9s ease;
    border-radius: 1em;
}
.advisement{
    text-align: center;
    padding: 0.5rem;
}
.advisement p{
    margin: 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: black;
    
}
.advisement span{
    color: red;
    font-weight: 600;
    right: 0;
    margin-left: 5rem;
}

/*NAV BAR END*/
.sidebar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    width: 50%;
    height: 100vh;
    z-index: 1;
    font-size:1.1rem;
    padding: 10px 40px 40px 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px #8ecd77;
    transition: transform 0.4s ease-in-out;
    transform: translateX(100%); /* Initially hidden off-screen */
}
.sidebar.show {
    display: block;
    transform: translateX(0); /* Slide in */
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    display: block;
    text-align: center;
}
.sidebar li a {
    color: #333333;
    padding: 14px 36px;
    text-decoration: none;
    font-size: large;
    display: block;
}
.sidebar li a:hover {
    background-color: hsl(84, 5%, 81%);
    transition: 0.9s ease;
    border-radius: 1em;
}
.sidebar li a:active {
    background-color: hsl(84, 5%, 89%);
    transition: 0.9s ease;
    border-radius: 1em;
}
.hidebar {
    display: block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px; /* Add spacing for better visibility */
}
.menubtn {
    display: none;
}
.section1_image_slider {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;    
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 180px;
}
.slider {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control {
    background-color: rgba(126, 124, 124, 0.5);
    color: white;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    font-size: 1.5rem;
}

.control:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 1s ease;
}
/* General container for all cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
    padding: 1rem;
    margin-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
}
/* Individual card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px #8ecd77;
    background-color: #f4f4f4;
    width: 350px;
    height: 350px;
    cursor: pointer;
    object-fit: cover;
}
.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;

}
.card h3 {
    font-size: 1.5rem;
    color: #66B539;
}
.card p {
    font-size: 1rem;
    color: #333333;
    text-align: center;
}
.card a {
    color: #333333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 530;
}
.card:hover {
    color: #66B539;
    transition: 0.9s ease;
    transform: translateY(-10px);
}
.card:hover img {
    transform: scale(1.1);
    transition: 0.9s ease;
}
.card:hover h3 {
    color: #66B539;
    transition: 0.9s ease;
}
.card:hover p {
    color: #333333;
    transition: 0.9s ease;
}
.card:hover a {
    color: #333333;
    transition: 0.9s ease;
}
/*DEMO VIDEO START*/
.DemoVideo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}
video {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 4px #8ecd77;
}
/*DEMO VIDEO END*/
/*ABOUT US SECTION*/
.AboutUsSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}
.AboutUsSection h1{
    font-size: 2.5rem;
    color: #66B539;
    text-decoration: underline;
}   
.AboutUsSection h1:hover{
    color: #66B539;
    transition: 0.9s ease;
    transform: scale(1.1);
}
.OurStory{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 1rem;
}
.OurValues{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.1rem;
    padding: 1rem;
}
.JoinOurJourney{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem;
}
.OurStory h1, .OurValues h1, .JoinOurJourney h1{
    font-size: 1.5rem;
    color: #66B539;
    text-decoration: underline;
}
.OurStory p, .OurValues p{
    font-size: 1rem;
    color: #333333;
    line-height: 1.8rem;
    font-weight: 530;
}
.OurValues span{
    font-size: 1.1rem;
    font-weight: bold;
}
.JoinOurJourney p{
    font-size: 1rem;
    color: #333333;
    line-height: 1.3rem;
    font-weight: 530;
}
.JoinOurJourney button{
    background-color: #66B539;
    color: #f4f4f4;
    border: none;
    padding: 1rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border: 2.2px solid #333333;
}
.JoinOurJourney button:hover{
    background-color: #f4f4f4;
    color: #66B539;
    transition: 0.9s ease;
}

.JoinOurJourney a{
    color: #333333;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 530;
}

/*ABOUT US SECTION END*/

/*MAIN CONTENT END*/
/*FOOTER START*/
.footermain {
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    align-items: flex-start;
    margin: 0 auto;
}
.fsec1, .fsec2, .fsec3, .fsec4 {
    flex: 1;
    padding: 1rem;
}
.fsec1 h1, .fsec2 h1, .fsec3 h1, .fsec4 h1 {
    font-size: 1.5rem;
    color: #66B539;
}
.fsec1 p {
    font-size: 0.9rem;
    color: #333333;
    line-height: 1.3rem;
    font-weight: 530;
}
.fsec2 ul, .fsec3 ul, .fsec4 ul {
    list-style-type: none;
    padding: 0;
}
.fsec2 li, .fsec3 li, .fsec4 li {
    margin-bottom: 0.5rem;
}
.fsec2 a, .fsec3 a, .fsec4 a {
    color: #333333;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 530;
}
.fsec4 ul p{
   margin: 0.4rem;
}
.footer-links{
    display: block;
}
.footer-links a{
    color: #2d6210;
    text-decoration: none;
    border-radius: 100% ;
    padding: 4%;
    font-size: 1.5rem;
}
.footer-links a:hover{
    background-color: hsl(84, 5%, 81%);
    border-radius: 100%;
    transition: all 0.9s ease;
}
.footer1 {
    background-color: #66B539;
    color: #f4f4f4;
    text-align: center;
    padding: 0.5rem;
}
.footer1 p {
    margin: 0;
}
*{
    -webkit-tap-highlight-color:transparent;
}
/*FOOTER END*/
@media screen and (max-width: 768px) {
    /*NAV BAR START*/
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .logo img{
        margin:0;
    }
    .logoName{
        font-size:1.8rem;
    }
    nav{
        padding:1rem;
    }
    nav ul {
        display: none; /* Hide normal nav links */
    }
    .menubtn {
        display: flex; /* Show menu button */
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        margin-left: auto;
        width: auto;
    }
    .hideonmobile {
        display: none; /* Hide nav items in mobile */
    }
    .advisement p{
        left: 0;
        font-size: 0.9rem;
        margin-left: -3rem;
    }
    .sidebar {
        display: block; /* Sidebar visible on mobile */
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: #f4f4f4;
        z-index: 1000;
        transform: translateX(100%); /* Hidden initially */
        transition: transform 0.5s ease; /* Smooth transition for sliding */
    }
    .sidebar.show {
        transform: translateX(0); /* Slide into view */
    }
    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }
    .sidebar li {
        display: block;
        text-align: center;
    }
    .logoMoblieView{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }
    .logoMoblieView img{
        width: 50px;
        height: auto;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .logoName{
        font-size: 1.5rem;
        font-weight: bold;
        color: #66B539;
        margin: -1rem;
    }
    .sidebar li a {
        color: #333333;
        padding: 14px 36px;
        text-decoration: none;
        font-size: large;
        display: block;
    }

    /*NAV BAR END*/
    /*MAIN CONTENT START*/
    .section1_image_slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        min-height: calc(100vh - 60px);
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        margin-top:180px;
    }
    .slider {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        background-color: aquamarine;
    }
    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        height: 100%;
        width: 100%;
    }
    .slide {
        min-width: 100%;
        height: 100%;
    }
    .slide img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        overflow: hidden;
    }
    .controls {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }
    .control {
        background-color: rgba(26, 26, 26, 0.5);
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.3s ease;
        font-size: 1.5rem;
    }
    .control:hover {
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3s ease;
    }
    .section2_EV_offering{
        height: 100%;
        flex: 1;
        padding: 20px;
    }
    /*MAIN CONTENT END*/
    /*CARDS CONTAINER START*/
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        padding: 1rem;
        margin-top: 2rem;
    }
    .card {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 2px 4px #8ecd77;
        background-color: #f4f4f4;
        width: 350px;
        height: 350px;
        cursor: pointer;
    }
    .card img {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 10px;
    }
    .card h3 {
        font-size: 1.5rem;
        color: #66B539;
    }
    .card p {
        font-size: 1rem;
        color: #333333;
        text-align: center;
    }
    .card a {
        color: #333333;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 530;
    }
    .card:hover {
        color: #66B539;
        transition: 0.9s ease;
        transform: translateY(-10px);
    }
    .card:hover img {
        transform: scale(1.1);
        transition: 0.9s ease;
    }
    .card:hover h3 {
        color: #66B539;
        transition: 0.9s ease;
    }
    .card:hover p {
        color: #333333;
        transition: 0.9s ease;
    }
    .card:hover a {
        color: #333333;
        transition: 0.9s ease;
    }
    /*CARDS CONTAINER END*/
    /*DEMO VIDEO START*/
    .DemoVideo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        margin-top: 2rem;
    }
    video {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 2px 4px #8ecd77;
    }
    /*DEMO VIDEO END*/
    /*ABOUT US SECTION*/
    .AboutUsSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        margin-top: 2rem;
    }
    .AboutUsSection h1 {
        font-size: 2rem;
        color: #66B539;
    }
    .OurStory {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
    }
    .OurValues {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
        padding: 1rem;
    }
    .JoinOurJourney {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
        padding: 1rem;
    }
    .OurStory h1, .OurValues h1, .JoinOurJourney h1 {
        font-size: 1.3rem;
        color: #66B539;
    }
    .OurStory p, .OurValues p {
        font-size: 0.9rem;
        color: #333333;
        line-height: 1.8rem;
        font-weight: 530;
    }
    .OurValues span {
        font-weight: bold;
    }
    .JoinOurJourney p {
        font-size: 0.9rem;
        color: #333333;
        line-height: 1.3rem;
        font-weight: 530;
    }
    .JoinOurJourney button {
        background-color: #66B539;
        color: #f4f4f4;
        border: none;
        padding: 1rem 1rem;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 0.9rem;
        border: 2.2px solid #333333;
    }
    .JoinOurJourney button:hover {
        background-color: #f4f4f4;
        color: #66B539;
        transition: 0.9s ease;
    }
    .JoinOurJourney a {
        color: #333333;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 530;
    }
    /*ABOUT US SECTION END*/
    /*FOOTER START*/
    .footermain{
        /*background-color: #666666;*/
        padding:1rem;
        margin-top:auto ;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        position: static;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .fsec1, .fsec2, .fsec3, .fsec4 {
        padding: 0.5rem;
        flex-direction: column;
    }
    .fsec1 h1, .fsec2 h1, .fsec3 h1, .fsec4 h1 {
        font-size: 1.2rem;
        color: #66B539;
    }
    .fsec1 p {
        font-size: 0.9rem;
        color: #333333;
        line-height: 1.3rem;
        font-weight: 530;
    }
    .fsec2 ul, .fsec3 ul, .fsec4 ul {
        list-style-type: none;
        padding: 0;
    }
    .fsec2 li, .fsec3 li, .fsec4 li {
        margin-bottom: 0.5rem;
    }
    .fsec2 a, .fsec3 a, .fsec4 a {
        color: #333333;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 530;
    }
    .fsec4 ul p{
        margin: 0.4rem;
    }
    .footer-links{
        display: block;
    }
    .footer-links a{
        color: #2d6210;
        text-decoration: none;
        border-radius: 100% ;
        padding: 4%;
        font-size: 1.4rem;
    }
    .footer-links a:hover{
        background-color: hsl(84, 5%, 81%);
        border-radius: 100%;
        transition: all 0.9s ease;
    }
    .footer1 {
        background-color: #66B539;
        color: #f4f4f4;
        text-align: center;
        padding: 0.5rem;
    }
    .footer1 p {
        margin: 0;
    }
    /*FOOTER END*/
}